@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:400,700&display=swap');


:root {
    margin: 0;
    padding: 0;
    --bgColor:  #0D5CEC;
    --bgColor2: #0D5CEC;
    --accentColor: #fff;
    --textColor: #fff;
    --font: 'Karla', sans-serif;
    --font2: 'Noto Sans Mono', monospace;

    --delay: .4s;
    --heading: #C0C0C0;
}
p.textHead{
    font-family: var(--font2);
    position: relative;
    color: var(--heading);
    margin-left: 15%;
    
    
}
p.textBody{
    font-family: var(--font2);
    position: relative;
    color: var(--textColor);
    margin-left: 15%;
    
    
}




.right{
    position: relative;
    
    
}
.tooltip {
    position: relative;
    background-color: transparent;
    color: var(--textColor);
    border: solid var(--accentColor) 2px;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px; /* 17px */
    text-decoration: none;
    /* transition: all .25s cubic-bezier(.08, .59, .29, .99); */
    -webkit-tap-highlight-color: transparent;
    background-color:var(--accentColor);

  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color:var(--accentColor);
    color: #0F2034;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 0;
    bottom: -100%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    background-color: var(--accentColor);
        color: #1BD0D9;
  }
  

  button{
    background: var(--accentColor);
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    background-color:var(--accentColor);

  }
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: var(--font);
    background: radial-gradient(ellipse at bottom, var(--bgColor) 0%, var(--bgColor2) 100%);
    /* background-image: url('https://r4.wallpaperflare.com/wallpaper/346/517/218/-art-artwork-illustration-environment-purple-background-hd-wallpaper-e09015a99f46aee3385f97f66bf67428.jpg'); */
    
    opacity: 0;
    animation: 1s ease-out var(--delay) 1 transitionAnimation; /* duration/timing-function/delay/iterations/name */
    animation-fill-mode: forwards;
    
    background-size: cover;
    position: relative;
}

#profilePicture, #profilePicture img {
    position: relative;
    width: 391px;
    height: 242px;
    display: block;
    margin: 78px auto 20px;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
}

#userName {
    color: var(--textColor);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#links {
    max-width: 575px;
    min-width: 575;
    width: 75%;
    display: block;
    margin: 27px auto;
}

.link {
    position: relative;
    background-color: #9fb4e5;
    color: var(--textColor);
    border: solid var(--accentColor) 2px;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px; /* 17px */
    text-decoration: none;
    /* transition: all .25s cubic-bezier(.08, .59, .29, .99); */
    -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
    .link:hover {
        background-color: var(--accentColor);
        color: #1BD0D9;
    }
   
}

.link:active {
    background-color: var(--textColor);
    color: var(--bgColor);
}

#hashtag {
    position: relative;
    padding-bottom: 20px;
    color: var(--textColor);
    font-size: 1rem;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;

    /*  animation   */
    overflow: hidden;
    background: linear-gradient(90deg, var(--bgColor), var(--textColor), var(--bgColor));
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear var(--delay) infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}


/*-------------------------animations-----------------------*/
@keyframes transitionAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}


/*-------------------------popup------------------------*/
/* credits: https://www.youtube.com/watch?v=lAS2glU0xlc */
.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.popup {
    position: relative;
    top: -43%;
    /* right: -100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    /* max-height: 500px; */
    width: auto;
    height: auto;
    margin: 56px;
    background-color: var(--textColor);
    /* transform: rotate(32deg); */
    transform: scale(0);
    transition: .5s ease-in-out;
}

.popup-quote {
    font-family : Baskerville, Georgia, serif;
    font-style : italic;
    position: flex;
    color: var(--textColor);
    padding: 20px;
    background-color: var(--bgColor);
    text-align: center;
    font-size: 1rem;
}

.popup-photo {
    display: flex;
    width: 100%;
    height: 100%;
}

.popup-photo img {
    width: 100%;
    height: 100%;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.overlay:target .popup {
    transform: scale(1);
    top: 0;
    /* right: 0; */
    /* transform: rotate(0); */
}

.popup-close {
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.7rem;
    font-weight: 400;
    border-radius: 100%;
    background-color: var(--bgColor);
    z-index: 4;
    color: var(--accentColor);
    line-height: 2.7rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
    .popup-close:hover {
        background-color: var(--textColor);
        color: #1BD0D9;
    }
}

.popup-close:active {
    background-color: var(--textColor);
    color: var(--bgColor);
}


/*-----------------------parallax-----------------------*/
/* credits: https://www.youtube.com/watch?v=aywzn9cf-_U */
#stars1 {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animStar 120s linear infinite;

    box-shadow: 779px 1331px #FDD000, 324px 42px #FDD000, 303px 586px #FDD000,
    1312px 276px #FDD000, 451px 625px #FDD000, 521px 1931px #FDD000, 1087px 1871px #FDD000,
    36px 1546px #FDD000, 132px 934px #FDD000, 1698px 901px #FDD000, 1418px 664px #FDD000,
    1448px 1157px #FDD000, 1084px 232px #FDD000, 347px 1776px #FDD000, 1722px 243px #FDD000,
    1629px 835px #FDD000, 479px 969px #FDD000, 1231px 960px #FDD000, 586px 384px #FDD000,
    164px 527px #FDD000, 8px 646px #FDD000, 1150px 1126px #FDD000, 665px 1357px #FDD000,
    1556px 1982px #FDD000, 1260px 1961px #FDD000, 1675px 1741px #FDD000,
    1843px 1514px #FDD000, 718px 1628px #FDD000, 242px 1343px #FDD000, 1497px 1880px #FDD000,
    1364px 230px #FDD000, 1739px 1302px #FDD000, 636px 959px #FDD000, 304px 686px #FDD000,
    614px 751px #FDD000, 1935px 816px #FDD000, 1428px 60px #FDD000, 355px 335px #FDD000,
    1594px 158px #FDD000, 90px 60px #FDD000, 1553px 162px #FDD000, 1239px 1825px #FDD000,
    1945px 587px #FDD000, 749px 1785px #FDD000, 1987px 1172px #FDD000, 1301px 1237px #FDD000,
    1039px 342px #FDD000, 1585px 1481px #FDD000, 995px 1048px #FDD000, 524px 932px #FDD000,
    214px 413px #FDD000, 1701px 1300px #FDD000, 1037px 1613px #FDD000, 1871px 996px #FDD000,
    1360px 1635px #FDD000, 1110px 1313px #FDD000, 412px 1783px #FDD000, 1949px 177px #FDD000,
    903px 1854px #FDD000, 700px 1936px #FDD000, 378px 125px #FDD000, 308px 834px #FDD000,
    1118px 962px #FDD000, 1350px 1929px #FDD000, 781px 1811px #FDD000, 561px 137px #FDD000,
    757px 1148px #FDD000, 1670px 1979px #FDD000, 343px 739px #FDD000, 945px 795px #FDD000,
    576px 1903px #FDD000, 1078px 1436px #FDD000, 1583px 450px #FDD000, 1366px 474px #FDD000,
    297px 1873px #FDD000, 192px 162px #FDD000, 1624px 1633px #FDD000, 59px 453px #FDD000,
    82px 1872px #FDD000, 1933px 498px #FDD000, 1966px 1974px #FDD000, 1975px 1688px #FDD000,
    779px 314px #FDD000, 1858px 1543px #FDD000, 73px 1507px #FDD000, 1693px 975px #FDD000,
    1683px 108px #FDD000, 1768px 1654px #FDD000, 654px 14px #FDD000, 494px 171px #FDD000,
    1689px 1895px #FDD000, 1660px 263px #FDD000, 1031px 903px #FDD000, 1203px 1393px #FDD000,
    1333px 1421px #FDD000, 1113px 41px #FDD000, 1206px 1645px #FDD000, 1325px 1635px #FDD000,
    142px 388px #FDD000, 572px 215px #FDD000, 1535px 296px #FDD000, 1419px 407px #FDD000,
    1379px 1003px #FDD000, 329px 469px #FDD000, 1791px 1652px #FDD000, 935px 1802px #FDD000,
    1330px 1820px #FDD000, 421px 1933px #FDD000, 828px 365px #FDD000, 275px 316px #FDD000,
    707px 960px #FDD000, 1605px 1554px #FDD000, 625px 58px #FDD000, 717px 1697px #FDD000,
    1669px 246px #FDD000, 1925px 322px #FDD000, 1154px 1803px #FDD000, 1929px 295px #FDD000,
    1248px 240px #FDD000, 1045px 1755px #FDD000, 166px 942px #FDD000, 1888px 1773px #FDD000,
    678px 1963px #FDD000, 1370px 569px #FDD000, 1974px 1400px #FDD000, 1786px 460px #FDD000,
    51px 307px #FDD000, 784px 1400px #FDD000, 730px 1258px #FDD000, 1712px 393px #FDD000,
    416px 170px #FDD000, 1797px 1932px #FDD000, 572px 219px #FDD000, 1557px 1856px #FDD000,
    218px 8px #FDD000, 348px 1334px #FDD000, 469px 413px #FDD000, 385px 1738px #FDD000,
    1357px 1818px #FDD000, 240px 942px #FDD000, 248px 1847px #FDD000, 1535px 806px #FDD000,
    236px 1514px #FDD000, 1429px 1556px #FDD000, 73px 1633px #FDD000, 1398px 1121px #FDD000,
    671px 1301px #FDD000, 1404px 1663px #FDD000, 740px 1018px #FDD000, 1600px 377px #FDD000,
    785px 514px #FDD000, 112px 1084px #FDD000, 1915px 1887px #FDD000, 1463px 1848px #FDD000,
    687px 1115px #FDD000, 1268px 1768px #FDD000, 1729px 1425px #FDD000,
    1284px 1022px #FDD000, 801px 974px #FDD000, 1975px 1317px #FDD000, 1354px 834px #FDD000,
    1446px 1484px #FDD000, 1283px 1786px #FDD000, 11px 523px #FDD000, 1842px 236px #FDD000,
    1355px 654px #FDD000, 429px 7px #FDD000, 1033px 1128px #FDD000, 157px 297px #FDD000,
    545px 635px #FDD000, 52px 1080px #FDD000, 827px 1520px #FDD000, 1121px 490px #FDD000,
    9px 309px #FDD000, 1744px 1586px #FDD000, 1014px 417px #FDD000, 1534px 524px #FDD000,
    958px 552px #FDD000, 1403px 1496px #FDD000, 387px 703px #FDD000, 1522px 548px #FDD000,
    1355px 282px #FDD000, 1532px 601px #FDD000, 1838px 790px #FDD000, 290px 259px #FDD000,
    295px 598px #FDD000, 1601px 539px #FDD000, 1561px 1272px #FDD000, 34px 1922px #FDD000,
    1024px 543px #FDD000, 467px 369px #FDD000, 722px 333px #FDD000, 1976px 1255px #FDD000,
    766px 983px #FDD000, 1582px 1285px #FDD000, 12px 512px #FDD000, 617px 1410px #FDD000,
    682px 577px #FDD000, 1334px 1438px #FDD000, 439px 327px #FDD000, 1617px 1661px #FDD000,
    673px 129px #FDD000, 794px 941px #FDD000, 1386px 1902px #FDD000, 37px 1353px #FDD000,
    1467px 1353px #FDD000, 416px 18px #FDD000, 187px 344px #FDD000, 200px 1898px #FDD000,
    1491px 1619px #FDD000, 811px 347px #FDD000, 924px 1827px #FDD000, 945px 217px #FDD000,
    1735px 1228px #FDD000, 379px 1890px #FDD000, 79px 761px #FDD000, 825px 1837px #FDD000,
    1980px 1558px #FDD000, 1308px 1573px #FDD000, 1488px 1726px #FDD000,
    382px 1208px #FDD000, 522px 595px #FDD000, 1277px 1898px #FDD000, 354px 552px #FDD000,
    161px 1784px #FDD000, 614px 251px #FDD000, 526px 1576px #FDD000, 17px 212px #FDD000,
    179px 996px #FDD000, 467px 1208px #FDD000, 1944px 1838px #FDD000, 1140px 1093px #FDD000,
    858px 1007px #FDD000, 200px 1064px #FDD000, 423px 1964px #FDD000, 1945px 439px #FDD000,
    1377px 689px #FDD000, 1120px 1437px #FDD000, 1876px 668px #FDD000, 907px 1324px #FDD000,
    343px 1976px #FDD000, 1816px 1501px #FDD000, 1849px 177px #FDD000, 647px 91px #FDD000,
    1984px 1012px #FDD000, 1336px 1300px #FDD000, 128px 648px #FDD000, 305px 1060px #FDD000,
    1324px 826px #FDD000, 1263px 1314px #FDD000, 1801px 629px #FDD000, 1614px 1555px #FDD000,
    1634px 90px #FDD000, 1603px 452px #FDD000, 891px 1984px #FDD000, 1556px 1906px #FDD000,
    121px 68px #FDD000, 1676px 1714px #FDD000, 516px 936px #FDD000, 1947px 1492px #FDD000,
    1455px 1519px #FDD000, 45px 602px #FDD000, 205px 1039px #FDD000, 793px 172px #FDD000,
    1562px 1739px #FDD000, 1056px 110px #FDD000, 1512px 379px #FDD000, 1795px 1621px #FDD000,
    1848px 607px #FDD000, 262px 1719px #FDD000, 477px 991px #FDD000, 483px 883px #FDD000,
    1239px 1197px #FDD000, 1496px 647px #FDD000, 1649px 25px #FDD000, 1491px 1946px #FDD000,
    119px 996px #FDD000, 179px 1472px #FDD000, 1341px 808px #FDD000, 1565px 1700px #FDD000,
    407px 1544px #FDD000, 1754px 357px #FDD000, 1288px 981px #FDD000, 902px 1997px #FDD000,
    1755px 1668px #FDD000, 186px 877px #FDD000, 1202px 1882px #FDD000, 461px 1213px #FDD000,
    1400px 748px #FDD000, 1969px 1899px #FDD000, 809px 522px #FDD000, 514px 1219px #FDD000,
    374px 275px #FDD000, 938px 1973px #FDD000, 357px 552px #FDD000, 144px 1722px #FDD000,
    1572px 912px #FDD000, 402px 1858px #FDD000, 1544px 1195px #FDD000, 667px 1257px #FDD000,
    727px 1496px #FDD000, 993px 232px #FDD000, 1772px 313px #FDD000, 1040px 1590px #FDD000,
    1204px 1973px #FDD000, 1268px 79px #FDD000, 1555px 1048px #FDD000, 986px 1707px #FDD000,
    978px 1710px #FDD000, 713px 360px #FDD000, 407px 863px #FDD000, 461px 736px #FDD000,
    284px 1608px #FDD000, 103px 430px #FDD000, 1283px 1319px #FDD000, 977px 1186px #FDD000,
    1966px 1516px #FDD000, 1287px 1129px #FDD000, 70px 1098px #FDD000, 1189px 889px #FDD000,
    1126px 1734px #FDD000, 309px 1292px #FDD000, 879px 764px #FDD000, 65px 473px #FDD000,
    1003px 1959px #FDD000, 658px 791px #FDD000, 402px 1576px #FDD000, 35px 622px #FDD000,
    529px 1589px #FDD000, 164px 666px #FDD000, 1876px 1290px #FDD000, 1541px 526px #FDD000,
    270px 1297px #FDD000, 440px 865px #FDD000, 1500px 802px #FDD000, 182px 1754px #FDD000,
    1264px 892px #FDD000, 272px 1249px #FDD000, 1289px 1535px #FDD000, 190px 1646px #FDD000,
    955px 242px #FDD000, 1456px 1597px #FDD000, 1727px 1983px #FDD000, 635px 801px #FDD000,
    226px 455px #FDD000, 1396px 1710px #FDD000, 849px 1863px #FDD000, 237px 1264px #FDD000,
    839px 140px #FDD000, 1122px 735px #FDD000, 1280px 15px #FDD000, 1318px 242px #FDD000,
    1819px 1148px #FDD000, 333px 1392px #FDD000, 1949px 553px #FDD000, 1878px 1332px #FDD000,
    467px 548px #FDD000, 1812px 1082px #FDD000, 1067px 193px #FDD000, 243px 156px #FDD000,
    483px 1616px #FDD000, 1714px 933px #FDD000, 759px 1800px #FDD000, 1822px 995px #FDD000,
    1877px 572px #FDD000, 581px 1084px #FDD000, 107px 732px #FDD000, 642px 1837px #FDD000,
    166px 1493px #FDD000, 1555px 198px #FDD000, 819px 307px #FDD000, 947px 345px #FDD000,
    827px 224px #FDD000, 927px 1394px #FDD000, 540px 467px #FDD000, 1093px 405px #FDD000,
    1140px 927px #FDD000, 130px 529px #FDD000, 33px 1980px #FDD000, 1147px 1663px #FDD000,
    1616px 1436px #FDD000, 528px 710px #FDD000, 798px 1100px #FDD000, 505px 1480px #FDD000,
    899px 641px #FDD000, 1909px 1949px #FDD000, 1311px 964px #FDD000, 979px 1301px #FDD000,
    1393px 969px #FDD000, 1793px 1886px #FDD000, 292px 357px #FDD000, 1196px 1718px #FDD000,
    1290px 1994px #FDD000, 537px 1973px #FDD000, 1181px 1674px #FDD000,
    1740px 1566px #FDD000, 1307px 265px #FDD000, 922px 522px #FDD000, 1892px 472px #FDD000,
    384px 1746px #FDD000, 392px 1098px #FDD000, 647px 548px #FDD000, 390px 1498px #FDD000,
    1246px 138px #FDD000, 730px 876px #FDD000, 192px 1472px #FDD000, 1790px 1789px #FDD000,
    928px 311px #FDD000, 1253px 1647px #FDD000, 747px 1921px #FDD000, 1561px 1025px #FDD000,
    1533px 1292px #FDD000, 1985px 195px #FDD000, 728px 729px #FDD000, 1712px 1936px #FDD000,
    512px 1717px #FDD000, 1528px 483px #FDD000, 313px 1642px #FDD000, 281px 1849px #FDD000,
    1212px 799px #FDD000, 435px 1191px #FDD000, 1422px 611px #FDD000, 1718px 1964px #FDD000,
    411px 944px #FDD000, 210px 636px #FDD000, 1502px 1295px #FDD000, 1434px 349px #FDD000,
    769px 60px #FDD000, 747px 1053px #FDD000, 789px 504px #FDD000, 1436px 1264px #FDD000,
    1893px 1225px #FDD000, 1394px 1788px #FDD000, 1108px 1317px #FDD000,
    1673px 1395px #FDD000, 854px 1010px #FDD000, 1705px 80px #FDD000, 1858px 148px #FDD000,
    1729px 344px #FDD000, 1388px 664px #FDD000, 895px 406px #FDD000, 1479px 157px #FDD000,
    1441px 1157px #FDD000, 552px 1900px #FDD000, 516px 364px #FDD000, 1647px 189px #FDD000,
    1427px 1071px #FDD000, 785px 729px #FDD000, 1080px 1710px #FDD000, 504px 204px #FDD000,
    1177px 1622px #FDD000, 657px 34px #FDD000, 1296px 1099px #FDD000, 248px 180px #FDD000,
    1212px 1568px #FDD000, 667px 1562px #FDD000, 695px 841px #FDD000, 1608px 1247px #FDD000,
    751px 882px #FDD000, 87px 167px #FDD000, 607px 1368px #FDD000, 1363px 1203px #FDD000,
    1836px 317px #FDD000, 1668px 1703px #FDD000, 830px 1154px #FDD000, 1721px 1398px #FDD000,
    1601px 1280px #FDD000, 976px 874px #FDD000, 1743px 254px #FDD000, 1020px 1815px #FDD000,
    1670px 1766px #FDD000, 1890px 735px #FDD000, 1379px 136px #FDD000, 1864px 695px #FDD000,
    206px 965px #FDD000, 1404px 1932px #FDD000, 1923px 1360px #FDD000, 247px 682px #FDD000,
    519px 1708px #FDD000, 645px 750px #FDD000, 1164px 1204px #FDD000, 834px 323px #FDD000,
    172px 1350px #FDD000, 213px 972px #FDD000, 1837px 190px #FDD000, 285px 1806px #FDD000,
    1047px 1299px #FDD000, 1548px 825px #FDD000, 1730px 324px #FDD000, 1346px 1909px #FDD000,
    772px 270px #FDD000, 345px 1190px #FDD000, 478px 1433px #FDD000, 1479px 25px #FDD000,
    1994px 1830px #FDD000, 1744px 732px #FDD000, 20px 1635px #FDD000, 690px 1795px #FDD000,
    1594px 569px #FDD000, 579px 245px #FDD000, 1398px 733px #FDD000, 408px 1352px #FDD000,
    1774px 120px #FDD000, 1152px 1370px #FDD000, 1698px 1810px #FDD000, 710px 1450px #FDD000,
    665px 286px #FDD000, 493px 1720px #FDD000, 786px 5px #FDD000, 637px 1140px #FDD000,
    764px 324px #FDD000, 927px 310px #FDD000, 938px 1424px #FDD000, 1884px 744px #FDD000,
    913px 462px #FDD000, 1831px 1936px #FDD000, 1527px 249px #FDD000, 36px 1381px #FDD000,
    1597px 581px #FDD000, 1530px 355px #FDD000, 949px 459px #FDD000, 799px 828px #FDD000,
    242px 1471px #FDD000, 654px 797px #FDD000, 796px 594px #FDD000, 1365px 678px #FDD000,
    752px 23px #FDD000, 1630px 541px #FDD000, 982px 72px #FDD000, 1733px 1831px #FDD000,
    21px 412px #FDD000, 775px 998px #FDD000, 335px 1945px #FDD000, 264px 583px #FDD000,
    158px 1311px #FDD000, 528px 164px #FDD000, 1978px 574px #FDD000, 717px 1203px #FDD000,
    734px 1591px #FDD000, 1555px 820px #FDD000, 16px 1943px #FDD000, 1625px 1177px #FDD000,
    1236px 690px #FDD000, 1585px 1590px #FDD000, 1737px 1728px #FDD000, 721px 698px #FDD000,
    1804px 1186px #FDD000, 166px 980px #FDD000, 1850px 230px #FDD000, 330px 1712px #FDD000,
    95px 797px #FDD000, 1948px 1078px #FDD000, 469px 939px #FDD000, 1269px 1899px #FDD000,
    955px 1220px #FDD000, 1137px 1075px #FDD000, 312px 1293px #FDD000, 986px 1762px #FDD000,
    1103px 1238px #FDD000, 428px 1993px #FDD000, 355px 570px #FDD000, 977px 1836px #FDD000,
    1395px 1092px #FDD000, 276px 913px #FDD000, 1743px 656px #FDD000, 773px 502px #FDD000,
    1686px 1322px #FDD000, 1516px 1945px #FDD000, 1334px 501px #FDD000, 266px 156px #FDD000,
    455px 655px #FDD000, 798px 72px #FDD000, 1059px 1259px #FDD000, 1402px 1687px #FDD000,
    236px 1329px #FDD000, 1455px 786px #FDD000, 146px 1228px #FDD000, 1851px 823px #FDD000,
    1062px 100px #FDD000, 1220px 953px #FDD000, 20px 1826px #FDD000, 36px 1063px #FDD000,
    1525px 338px #FDD000, 790px 1521px #FDD000, 741px 1099px #FDD000, 288px 1489px #FDD000,
    700px 1060px #FDD000, 390px 1071px #FDD000, 411px 1036px #FDD000, 1853px 1072px #FDD000,
    1446px 1085px #FDD000, 1164px 874px #FDD000, 924px 925px #FDD000, 291px 271px #FDD000,
    1257px 1964px #FDD000, 1580px 1352px #FDD000, 1507px 1216px #FDD000, 211px 956px #FDD000,
    985px 1195px #FDD000, 975px 1640px #FDD000, 518px 101px #FDD000, 663px 1395px #FDD000,
    914px 532px #FDD000, 145px 1320px #FDD000, 69px 1397px #FDD000, 982px 523px #FDD000,
    257px 725px #FDD000, 1599px 831px #FDD000, 1636px 1513px #FDD000, 1250px 1158px #FDD000,
    1132px 604px #FDD000, 183px 102px #FDD000, 1057px 318px #FDD000, 1247px 1835px #FDD000,
    1983px 1110px #FDD000, 1077px 1455px #FDD000, 921px 1770px #FDD000, 806px 1350px #FDD000,
    1938px 1992px #FDD000, 855px 1260px #FDD000, 902px 1345px #FDD000, 658px 1908px #FDD000,
    1845px 679px #FDD000, 712px 1482px #FDD000, 595px 950px #FDD000, 1784px 1992px #FDD000,
    1847px 1785px #FDD000, 691px 1004px #FDD000, 175px 1179px #FDD000, 1666px 1911px #FDD000,
    41px 61px #FDD000, 971px 1080px #FDD000, 1830px 1450px #FDD000, 1351px 1518px #FDD000,
    1257px 99px #FDD000, 1395px 1498px #FDD000, 1117px 252px #FDD000, 1779px 597px #FDD000,
    1346px 729px #FDD000, 1108px 1144px #FDD000, 402px 691px #FDD000, 72px 496px #FDD000,
    1673px 1604px #FDD000, 1497px 974px #FDD000, 1865px 1664px #FDD000, 88px 806px #FDD000,
    918px 77px #FDD000, 244px 1118px #FDD000, 256px 1820px #FDD000, 1851px 1840px #FDD000,
    605px 1851px #FDD000, 634px 383px #FDD000, 865px 37px #FDD000, 943px 1024px #FDD000,
    1951px 177px #FDD000, 1097px 523px #FDD000, 985px 1700px #FDD000, 1243px 122px #FDD000,
    768px 1070px #FDD000, 468px 194px #FDD000, 320px 1867px #FDD000, 1850px 185px #FDD000,
    380px 1616px #FDD000, 468px 1294px #FDD000, 1122px 1743px #FDD000, 884px 299px #FDD000,
    1300px 1917px #FDD000, 1860px 396px #FDD000, 1270px 990px #FDD000, 529px 733px #FDD000,
    1975px 1347px #FDD000, 1885px 685px #FDD000, 226px 506px #FDD000, 651px 878px #FDD000,
    1323px 680px #FDD000, 1284px 680px #FDD000, 238px 1967px #FDD000, 911px 174px #FDD000,
    1111px 521px #FDD000, 1150px 85px #FDD000, 794px 502px #FDD000, 484px 1856px #FDD000,
    1809px 368px #FDD000, 112px 953px #FDD000, 590px 1009px #FDD000, 1655px 311px #FDD000,
    100px 1026px #FDD000, 1803px 352px #FDD000, 865px 306px #FDD000, 1077px 1019px #FDD000,
    1335px 872px #FDD000, 1647px 1298px #FDD000, 1233px 1387px #FDD000, 698px 1036px #FDD000,
    659px 1860px #FDD000, 388px 1412px #FDD000, 1212px 458px #FDD000, 755px 1468px #FDD000,
    696px 1654px #FDD000, 1144px 60px #FDD000;
}

#stars1:after {
    content: '';
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    background: transparent;

    box-shadow: 779px 1331px #FDD000, 324px 42px #FDD000, 303px 586px #FDD000,
    1312px 276px #FDD000, 451px 625px #FDD000, 521px 1931px #FDD000, 1087px 1871px #FDD000,
    36px 1546px #FDD000, 132px 934px #FDD000, 1698px 901px #FDD000, 1418px 664px #FDD000,
    1448px 1157px #FDD000, 1084px 232px #FDD000, 347px 1776px #FDD000, 1722px 243px #FDD000,
    1629px 835px #FDD000, 479px 969px #FDD000, 1231px 960px #FDD000, 586px 384px #FDD000,
    164px 527px #FDD000, 8px 646px #FDD000, 1150px 1126px #FDD000, 665px 1357px #FDD000,
    1556px 1982px #FDD000, 1260px 1961px #FDD000, 1675px 1741px #FDD000,
    1843px 1514px #FDD000, 718px 1628px #FDD000, 242px 1343px #FDD000, 1497px 1880px #FDD000,
    1364px 230px #FDD000, 1739px 1302px #FDD000, 636px 959px #FDD000, 304px 686px #FDD000,
    614px 751px #FDD000, 1935px 816px #FDD000, 1428px 60px #FDD000, 355px 335px #FDD000,
    1594px 158px #FDD000, 90px 60px #FDD000, 1553px 162px #FDD000, 1239px 1825px #FDD000,
    1945px 587px #FDD000, 749px 1785px #FDD000, 1987px 1172px #FDD000, 1301px 1237px #FDD000,
    1039px 342px #FDD000, 1585px 1481px #FDD000, 995px 1048px #FDD000, 524px 932px #FDD000,
    214px 413px #FDD000, 1701px 1300px #FDD000, 1037px 1613px #FDD000, 1871px 996px #FDD000,
    1360px 1635px #FDD000, 1110px 1313px #FDD000, 412px 1783px #FDD000, 1949px 177px #FDD000,
    903px 1854px #FDD000, 700px 1936px #FDD000, 378px 125px #FDD000, 308px 834px #FDD000,
    1118px 962px #FDD000, 1350px 1929px #FDD000, 781px 1811px #FDD000, 561px 137px #FDD000,
    757px 1148px #FDD000, 1670px 1979px #FDD000, 343px 739px #FDD000, 945px 795px #FDD000,
    576px 1903px #FDD000, 1078px 1436px #FDD000, 1583px 450px #FDD000, 1366px 474px #FDD000,
    297px 1873px #FDD000, 192px 162px #FDD000, 1624px 1633px #FDD000, 59px 453px #FDD000,
    82px 1872px #FDD000, 1933px 498px #FDD000, 1966px 1974px #FDD000, 1975px 1688px #FDD000,
    779px 314px #FDD000, 1858px 1543px #FDD000, 73px 1507px #FDD000, 1693px 975px #FDD000,
    1683px 108px #FDD000, 1768px 1654px #FDD000, 654px 14px #FDD000, 494px 171px #FDD000,
    1689px 1895px #FDD000, 1660px 263px #FDD000, 1031px 903px #FDD000, 1203px 1393px #FDD000,
    1333px 1421px #FDD000, 1113px 41px #FDD000, 1206px 1645px #FDD000, 1325px 1635px #FDD000,
    142px 388px #FDD000, 572px 215px #FDD000, 1535px 296px #FDD000, 1419px 407px #FDD000,
    1379px 1003px #FDD000, 329px 469px #FDD000, 1791px 1652px #FDD000, 935px 1802px #FDD000,
    1330px 1820px #FDD000, 421px 1933px #FDD000, 828px 365px #FDD000, 275px 316px #FDD000,
    707px 960px #FDD000, 1605px 1554px #FDD000, 625px 58px #FDD000, 717px 1697px #FDD000,
    1669px 246px #FDD000, 1925px 322px #FDD000, 1154px 1803px #FDD000, 1929px 295px #FDD000,
    1248px 240px #FDD000, 1045px 1755px #FDD000, 166px 942px #FDD000, 1888px 1773px #FDD000,
    678px 1963px #FDD000, 1370px 569px #FDD000, 1974px 1400px #FDD000, 1786px 460px #FDD000,
    51px 307px #FDD000, 784px 1400px #FDD000, 730px 1258px #FDD000, 1712px 393px #FDD000,
    416px 170px #FDD000, 1797px 1932px #FDD000, 572px 219px #FDD000, 1557px 1856px #FDD000,
    218px 8px #FDD000, 348px 1334px #FDD000, 469px 413px #FDD000, 385px 1738px #FDD000,
    1357px 1818px #FDD000, 240px 942px #FDD000, 248px 1847px #FDD000, 1535px 806px #FDD000,
    236px 1514px #FDD000, 1429px 1556px #FDD000, 73px 1633px #FDD000, 1398px 1121px #FDD000,
    671px 1301px #FDD000, 1404px 1663px #FDD000, 740px 1018px #FDD000, 1600px 377px #FDD000,
    785px 514px #FDD000, 112px 1084px #FDD000, 1915px 1887px #FDD000, 1463px 1848px #FDD000,
    687px 1115px #FDD000, 1268px 1768px #FDD000, 1729px 1425px #FDD000,
    1284px 1022px #FDD000, 801px 974px #FDD000, 1975px 1317px #FDD000, 1354px 834px #FDD000,
    1446px 1484px #FDD000, 1283px 1786px #FDD000, 11px 523px #FDD000, 1842px 236px #FDD000,
    1355px 654px #FDD000, 429px 7px #FDD000, 1033px 1128px #FDD000, 157px 297px #FDD000,
    545px 635px #FDD000, 52px 1080px #FDD000, 827px 1520px #FDD000, 1121px 490px #FDD000,
    9px 309px #FDD000, 1744px 1586px #FDD000, 1014px 417px #FDD000, 1534px 524px #FDD000,
    958px 552px #FDD000, 1403px 1496px #FDD000, 387px 703px #FDD000, 1522px 548px #FDD000,
    1355px 282px #FDD000, 1532px 601px #FDD000, 1838px 790px #FDD000, 290px 259px #FDD000,
    295px 598px #FDD000, 1601px 539px #FDD000, 1561px 1272px #FDD000, 34px 1922px #FDD000,
    1024px 543px #FDD000, 467px 369px #FDD000, 722px 333px #FDD000, 1976px 1255px #FDD000,
    766px 983px #FDD000, 1582px 1285px #FDD000, 12px 512px #FDD000, 617px 1410px #FDD000,
    682px 577px #FDD000, 1334px 1438px #FDD000, 439px 327px #FDD000, 1617px 1661px #FDD000,
    673px 129px #FDD000, 794px 941px #FDD000, 1386px 1902px #FDD000, 37px 1353px #FDD000,
    1467px 1353px #FDD000, 416px 18px #FDD000, 187px 344px #FDD000, 200px 1898px #FDD000,
    1491px 1619px #FDD000, 811px 347px #FDD000, 924px 1827px #FDD000, 945px 217px #FDD000,
    1735px 1228px #FDD000, 379px 1890px #FDD000, 79px 761px #FDD000, 825px 1837px #FDD000,
    1980px 1558px #FDD000, 1308px 1573px #FDD000, 1488px 1726px #FDD000,
    382px 1208px #FDD000, 522px 595px #FDD000, 1277px 1898px #FDD000, 354px 552px #FDD000,
    161px 1784px #FDD000, 614px 251px #FDD000, 526px 1576px #FDD000, 17px 212px #FDD000,
    179px 996px #FDD000, 467px 1208px #FDD000, 1944px 1838px #FDD000, 1140px 1093px #FDD000,
    858px 1007px #FDD000, 200px 1064px #FDD000, 423px 1964px #FDD000, 1945px 439px #FDD000,
    1377px 689px #FDD000, 1120px 1437px #FDD000, 1876px 668px #FDD000, 907px 1324px #FDD000,
    343px 1976px #FDD000, 1816px 1501px #FDD000, 1849px 177px #FDD000, 647px 91px #FDD000,
    1984px 1012px #FDD000, 1336px 1300px #FDD000, 128px 648px #FDD000, 305px 1060px #FDD000,
    1324px 826px #FDD000, 1263px 1314px #FDD000, 1801px 629px #FDD000, 1614px 1555px #FDD000,
    1634px 90px #FDD000, 1603px 452px #FDD000, 891px 1984px #FDD000, 1556px 1906px #FDD000,
    121px 68px #FDD000, 1676px 1714px #FDD000, 516px 936px #FDD000, 1947px 1492px #FDD000,
    1455px 1519px #FDD000, 45px 602px #FDD000, 205px 1039px #FDD000, 793px 172px #FDD000,
    1562px 1739px #FDD000, 1056px 110px #FDD000, 1512px 379px #FDD000, 1795px 1621px #FDD000,
    1848px 607px #FDD000, 262px 1719px #FDD000, 477px 991px #FDD000, 483px 883px #FDD000,
    1239px 1197px #FDD000, 1496px 647px #FDD000, 1649px 25px #FDD000, 1491px 1946px #FDD000,
    119px 996px #FDD000, 179px 1472px #FDD000, 1341px 808px #FDD000, 1565px 1700px #FDD000,
    407px 1544px #FDD000, 1754px 357px #FDD000, 1288px 981px #FDD000, 902px 1997px #FDD000,
    1755px 1668px #FDD000, 186px 877px #FDD000, 1202px 1882px #FDD000, 461px 1213px #FDD000,
    1400px 748px #FDD000, 1969px 1899px #FDD000, 809px 522px #FDD000, 514px 1219px #FDD000,
    374px 275px #FDD000, 938px 1973px #FDD000, 357px 552px #FDD000, 144px 1722px #FDD000,
    1572px 912px #FDD000, 402px 1858px #FDD000, 1544px 1195px #FDD000, 667px 1257px #FDD000,
    727px 1496px #FDD000, 993px 232px #FDD000, 1772px 313px #FDD000, 1040px 1590px #FDD000,
    1204px 1973px #FDD000, 1268px 79px #FDD000, 1555px 1048px #FDD000, 986px 1707px #FDD000,
    978px 1710px #FDD000, 713px 360px #FDD000, 407px 863px #FDD000, 461px 736px #FDD000,
    284px 1608px #FDD000, 103px 430px #FDD000, 1283px 1319px #FDD000, 977px 1186px #FDD000,
    1966px 1516px #FDD000, 1287px 1129px #FDD000, 70px 1098px #FDD000, 1189px 889px #FDD000,
    1126px 1734px #FDD000, 309px 1292px #FDD000, 879px 764px #FDD000, 65px 473px #FDD000,
    1003px 1959px #FDD000, 658px 791px #FDD000, 402px 1576px #FDD000, 35px 622px #FDD000,
    529px 1589px #FDD000, 164px 666px #FDD000, 1876px 1290px #FDD000, 1541px 526px #FDD000,
    270px 1297px #FDD000, 440px 865px #FDD000, 1500px 802px #FDD000, 182px 1754px #FDD000,
    1264px 892px #FDD000, 272px 1249px #FDD000, 1289px 1535px #FDD000, 190px 1646px #FDD000,
    955px 242px #FDD000, 1456px 1597px #FDD000, 1727px 1983px #FDD000, 635px 801px #FDD000,
    226px 455px #FDD000, 1396px 1710px #FDD000, 849px 1863px #FDD000, 237px 1264px #FDD000,
    839px 140px #FDD000, 1122px 735px #FDD000, 1280px 15px #FDD000, 1318px 242px #FDD000,
    1819px 1148px #FDD000, 333px 1392px #FDD000, 1949px 553px #FDD000, 1878px 1332px #FDD000,
    467px 548px #FDD000, 1812px 1082px #FDD000, 1067px 193px #FDD000, 243px 156px #FDD000,
    483px 1616px #FDD000, 1714px 933px #FDD000, 759px 1800px #FDD000, 1822px 995px #FDD000,
    1877px 572px #FDD000, 581px 1084px #FDD000, 107px 732px #FDD000, 642px 1837px #FDD000,
    166px 1493px #FDD000, 1555px 198px #FDD000, 819px 307px #FDD000, 947px 345px #FDD000,
    827px 224px #FDD000, 927px 1394px #FDD000, 540px 467px #FDD000, 1093px 405px #FDD000,
    1140px 927px #FDD000, 130px 529px #FDD000, 33px 1980px #FDD000, 1147px 1663px #FDD000,
    1616px 1436px #FDD000, 528px 710px #FDD000, 798px 1100px #FDD000, 505px 1480px #FDD000,
    899px 641px #FDD000, 1909px 1949px #FDD000, 1311px 964px #FDD000, 979px 1301px #FDD000,
    1393px 969px #FDD000, 1793px 1886px #FDD000, 292px 357px #FDD000, 1196px 1718px #FDD000,
    1290px 1994px #FDD000, 537px 1973px #FDD000, 1181px 1674px #FDD000,
    1740px 1566px #FDD000, 1307px 265px #FDD000, 922px 522px #FDD000, 1892px 472px #FDD000,
    384px 1746px #FDD000, 392px 1098px #FDD000, 647px 548px #FDD000, 390px 1498px #FDD000,
    1246px 138px #FDD000, 730px 876px #FDD000, 192px 1472px #FDD000, 1790px 1789px #FDD000,
    928px 311px #FDD000, 1253px 1647px #FDD000, 747px 1921px #FDD000, 1561px 1025px #FDD000,
    1533px 1292px #FDD000, 1985px 195px #FDD000, 728px 729px #FDD000, 1712px 1936px #FDD000,
    512px 1717px #FDD000, 1528px 483px #FDD000, 313px 1642px #FDD000, 281px 1849px #FDD000,
    1212px 799px #FDD000, 435px 1191px #FDD000, 1422px 611px #FDD000, 1718px 1964px #FDD000,
    411px 944px #FDD000, 210px 636px #FDD000, 1502px 1295px #FDD000, 1434px 349px #FDD000,
    769px 60px #FDD000, 747px 1053px #FDD000, 789px 504px #FDD000, 1436px 1264px #FDD000,
    1893px 1225px #FDD000, 1394px 1788px #FDD000, 1108px 1317px #FDD000,
    1673px 1395px #FDD000, 854px 1010px #FDD000, 1705px 80px #FDD000, 1858px 148px #FDD000,
    1729px 344px #FDD000, 1388px 664px #FDD000, 895px 406px #FDD000, 1479px 157px #FDD000,
    1441px 1157px #FDD000, 552px 1900px #FDD000, 516px 364px #FDD000, 1647px 189px #FDD000,
    1427px 1071px #FDD000, 785px 729px #FDD000, 1080px 1710px #FDD000, 504px 204px #FDD000,
    1177px 1622px #FDD000, 657px 34px #FDD000, 1296px 1099px #FDD000, 248px 180px #FDD000,
    1212px 1568px #FDD000, 667px 1562px #FDD000, 695px 841px #FDD000, 1608px 1247px #FDD000,
    751px 882px #FDD000, 87px 167px #FDD000, 607px 1368px #FDD000, 1363px 1203px #FDD000,
    1836px 317px #FDD000, 1668px 1703px #FDD000, 830px 1154px #FDD000, 1721px 1398px #FDD000,
    1601px 1280px #FDD000, 976px 874px #FDD000, 1743px 254px #FDD000, 1020px 1815px #FDD000,
    1670px 1766px #FDD000, 1890px 735px #FDD000, 1379px 136px #FDD000, 1864px 695px #FDD000,
    206px 965px #FDD000, 1404px 1932px #FDD000, 1923px 1360px #FDD000, 247px 682px #FDD000,
    519px 1708px #FDD000, 645px 750px #FDD000, 1164px 1204px #FDD000, 834px 323px #FDD000,
    172px 1350px #FDD000, 213px 972px #FDD000, 1837px 190px #FDD000, 285px 1806px #FDD000,
    1047px 1299px #FDD000, 1548px 825px #FDD000, 1730px 324px #FDD000, 1346px 1909px #FDD000,
    772px 270px #FDD000, 345px 1190px #FDD000, 478px 1433px #FDD000, 1479px 25px #FDD000,
    1994px 1830px #FDD000, 1744px 732px #FDD000, 20px 1635px #FDD000, 690px 1795px #FDD000,
    1594px 569px #FDD000, 579px 245px #FDD000, 1398px 733px #FDD000, 408px 1352px #FDD000,
    1774px 120px #FDD000, 1152px 1370px #FDD000, 1698px 1810px #FDD000, 710px 1450px #FDD000,
    665px 286px #FDD000, 493px 1720px #FDD000, 786px 5px #FDD000, 637px 1140px #FDD000,
    764px 324px #FDD000, 927px 310px #FDD000, 938px 1424px #FDD000, 1884px 744px #FDD000,
    913px 462px #FDD000, 1831px 1936px #FDD000, 1527px 249px #FDD000, 36px 1381px #FDD000,
    1597px 581px #FDD000, 1530px 355px #FDD000, 949px 459px #FDD000, 799px 828px #FDD000,
    242px 1471px #FDD000, 654px 797px #FDD000, 796px 594px #FDD000, 1365px 678px #FDD000,
    752px 23px #FDD000, 1630px 541px #FDD000, 982px 72px #FDD000, 1733px 1831px #FDD000,
    21px 412px #FDD000, 775px 998px #FDD000, 335px 1945px #FDD000, 264px 583px #FDD000,
    158px 1311px #FDD000, 528px 164px #FDD000, 1978px 574px #FDD000, 717px 1203px #FDD000,
    734px 1591px #FDD000, 1555px 820px #FDD000, 16px 1943px #FDD000, 1625px 1177px #FDD000,
    1236px 690px #FDD000, 1585px 1590px #FDD000, 1737px 1728px #FDD000, 721px 698px #FDD000,
    1804px 1186px #FDD000, 166px 980px #FDD000, 1850px 230px #FDD000, 330px 1712px #FDD000,
    95px 797px #FDD000, 1948px 1078px #FDD000, 469px 939px #FDD000, 1269px 1899px #FDD000,
    955px 1220px #FDD000, 1137px 1075px #FDD000, 312px 1293px #FDD000, 986px 1762px #FDD000,
    1103px 1238px #FDD000, 428px 1993px #FDD000, 355px 570px #FDD000, 977px 1836px #FDD000,
    1395px 1092px #FDD000, 276px 913px #FDD000, 1743px 656px #FDD000, 773px 502px #FDD000,
    1686px 1322px #FDD000, 1516px 1945px #FDD000, 1334px 501px #FDD000, 266px 156px #FDD000,
    455px 655px #FDD000, 798px 72px #FDD000, 1059px 1259px #FDD000, 1402px 1687px #FDD000,
    236px 1329px #FDD000, 1455px 786px #FDD000, 146px 1228px #FDD000, 1851px 823px #FDD000,
    1062px 100px #FDD000, 1220px 953px #FDD000, 20px 1826px #FDD000, 36px 1063px #FDD000,
    1525px 338px #FDD000, 790px 1521px #FDD000, 741px 1099px #FDD000, 288px 1489px #FDD000,
    700px 1060px #FDD000, 390px 1071px #FDD000, 411px 1036px #FDD000, 1853px 1072px #FDD000,
    1446px 1085px #FDD000, 1164px 874px #FDD000, 924px 925px #FDD000, 291px 271px #FDD000,
    1257px 1964px #FDD000, 1580px 1352px #FDD000, 1507px 1216px #FDD000, 211px 956px #FDD000,
    985px 1195px #FDD000, 975px 1640px #FDD000, 518px 101px #FDD000, 663px 1395px #FDD000,
    914px 532px #FDD000, 145px 1320px #FDD000, 69px 1397px #FDD000, 982px 523px #FDD000,
    257px 725px #FDD000, 1599px 831px #FDD000, 1636px 1513px #FDD000, 1250px 1158px #FDD000,
    1132px 604px #FDD000, 183px 102px #FDD000, 1057px 318px #FDD000, 1247px 1835px #FDD000,
    1983px 1110px #FDD000, 1077px 1455px #FDD000, 921px 1770px #FDD000, 806px 1350px #FDD000,
    1938px 1992px #FDD000, 855px 1260px #FDD000, 902px 1345px #FDD000, 658px 1908px #FDD000,
    1845px 679px #FDD000, 712px 1482px #FDD000, 595px 950px #FDD000, 1784px 1992px #FDD000,
    1847px 1785px #FDD000, 691px 1004px #FDD000, 175px 1179px #FDD000, 1666px 1911px #FDD000,
    41px 61px #FDD000, 971px 1080px #FDD000, 1830px 1450px #FDD000, 1351px 1518px #FDD000,
    1257px 99px #FDD000, 1395px 1498px #FDD000, 1117px 252px #FDD000, 1779px 597px #FDD000,
    1346px 729px #FDD000, 1108px 1144px #FDD000, 402px 691px #FDD000, 72px 496px #FDD000,
    1673px 1604px #FDD000, 1497px 974px #FDD000, 1865px 1664px #FDD000, 88px 806px #FDD000,
    918px 77px #FDD000, 244px 1118px #FDD000, 256px 1820px #FDD000, 1851px 1840px #FDD000,
    605px 1851px #FDD000, 634px 383px #FDD000, 865px 37px #FDD000, 943px 1024px #FDD000,
    1951px 177px #FDD000, 1097px 523px #FDD000, 985px 1700px #FDD000, 1243px 122px #FDD000,
    768px 1070px #FDD000, 468px 194px #FDD000, 320px 1867px #FDD000, 1850px 185px #FDD000,
    380px 1616px #FDD000, 468px 1294px #FDD000, 1122px 1743px #FDD000, 884px 299px #FDD000,
    1300px 1917px #FDD000, 1860px 396px #FDD000, 1270px 990px #FDD000, 529px 733px #FDD000,
    1975px 1347px #FDD000, 1885px 685px #FDD000, 226px 506px #FDD000, 651px 878px #FDD000,
    1323px 680px #FDD000, 1284px 680px #FDD000, 238px 1967px #FDD000, 911px 174px #FDD000,
    1111px 521px #FDD000, 1150px 85px #FDD000, 794px 502px #FDD000, 484px 1856px #FDD000,
    1809px 368px #FDD000, 112px 953px #FDD000, 590px 1009px #FDD000, 1655px 311px #FDD000,
    100px 1026px #FDD000, 1803px 352px #FDD000, 865px 306px #FDD000, 1077px 1019px #FDD000,
    1335px 872px #FDD000, 1647px 1298px #FDD000, 1233px 1387px #FDD000, 698px 1036px #FDD000,
    659px 1860px #FDD000, 388px 1412px #FDD000, 1212px 458px #FDD000, 755px 1468px #FDD000,
    696px 1654px #FDD000, 1144px 60px #FDD000;
}
#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animStar 180s linear infinite;

    box-shadow: 1448px 320px #FDD000, 1775px 1663px #FDD000, 332px 1364px #FDD000,
    878px 340px #FDD000, 569px 1832px #FDD000, 1422px 1684px #FDD000, 1946px 1907px #FDD000,
    121px 979px #FDD000, 1044px 1069px #FDD000, 463px 381px #FDD000, 423px 112px #FDD000,
    523px 1179px #FDD000, 779px 654px #FDD000, 1398px 694px #FDD000, 1085px 1464px #FDD000,
    1599px 1869px #FDD000, 801px 1882px #FDD000, 779px 1231px #FDD000, 552px 932px #FDD000,
    1057px 1196px #FDD000, 282px 1280px #FDD000, 496px 1986px #FDD000, 1833px 1120px #FDD000,
    1802px 1293px #FDD000, 6px 1696px #FDD000, 412px 1902px #FDD000, 605px 438px #FDD000,
    24px 1212px #FDD000, 234px 1320px #FDD000, 544px 344px #FDD000, 1107px 170px #FDD000,
    1603px 196px #FDD000, 905px 648px #FDD000, 68px 1458px #FDD000, 649px 1969px #FDD000,
    744px 675px #FDD000, 1127px 478px #FDD000, 714px 1814px #FDD000, 1486px 526px #FDD000,
    270px 1636px #FDD000, 1931px 149px #FDD000, 1807px 378px #FDD000, 8px 390px #FDD000,
    1415px 699px #FDD000, 1473px 1211px #FDD000, 1590px 141px #FDD000, 270px 1705px #FDD000,
    69px 1423px #FDD000, 1108px 1053px #FDD000, 1946px 128px #FDD000, 371px 371px #FDD000,
    1490px 220px #FDD000, 357px 1885px #FDD000, 363px 363px #FDD000, 1896px 1256px #FDD000,
    1979px 1050px #FDD000, 947px 1342px #FDD000, 1754px 242px #FDD000, 514px 974px #FDD000,
    65px 1477px #FDD000, 1840px 547px #FDD000, 950px 695px #FDD000, 459px 1150px #FDD000,
    1124px 1502px #FDD000, 481px 940px #FDD000, 680px 839px #FDD000, 797px 1169px #FDD000,
    1977px 1491px #FDD000, 734px 1724px #FDD000, 210px 298px #FDD000, 816px 628px #FDD000,
    686px 770px #FDD000, 1721px 267px #FDD000, 1663px 511px #FDD000, 1481px 1141px #FDD000,
    582px 248px #FDD000, 1308px 953px #FDD000, 628px 657px #FDD000, 897px 1535px #FDD000,
    270px 931px #FDD000, 791px 467px #FDD000, 1336px 1732px #FDD000, 1013px 1653px #FDD000,
    1911px 956px #FDD000, 587px 816px #FDD000, 83px 456px #FDD000, 930px 1478px #FDD000,
    1587px 1694px #FDD000, 614px 1200px #FDD000, 302px 1782px #FDD000, 1711px 1432px #FDD000,
    443px 904px #FDD000, 1666px 714px #FDD000, 1588px 1167px #FDD000, 273px 1075px #FDD000,
    1679px 461px #FDD000, 721px 664px #FDD000, 1202px 10px #FDD000, 166px 1126px #FDD000,
    331px 1628px #FDD000, 430px 1565px #FDD000, 1585px 509px #FDD000, 640px 38px #FDD000,
    822px 837px #FDD000, 1760px 1664px #FDD000, 1122px 1458px #FDD000, 398px 131px #FDD000,
    689px 285px #FDD000, 460px 652px #FDD000, 1627px 365px #FDD000, 348px 1648px #FDD000,
    819px 1946px #FDD000, 981px 1917px #FDD000, 323px 76px #FDD000, 979px 684px #FDD000,
    887px 536px #FDD000, 1348px 1596px #FDD000, 1055px 666px #FDD000, 1402px 1797px #FDD000,
    1300px 1055px #FDD000, 937px 238px #FDD000, 1474px 1815px #FDD000, 1144px 1710px #FDD000,
    1629px 1087px #FDD000, 911px 919px #FDD000, 771px 819px #FDD000, 403px 720px #FDD000,
    163px 736px #FDD000, 1062px 238px #FDD000, 1774px 818px #FDD000, 1874px 1178px #FDD000,
    1177px 699px #FDD000, 1244px 1244px #FDD000, 1371px 58px #FDD000, 564px 1515px #FDD000,
    1824px 487px #FDD000, 929px 702px #FDD000, 394px 1348px #FDD000, 1161px 641px #FDD000,
    219px 1841px #FDD000, 358px 941px #FDD000, 140px 1759px #FDD000, 1019px 1345px #FDD000,
    274px 436px #FDD000, 1433px 1605px #FDD000, 1798px 1426px #FDD000, 294px 1848px #FDD000,
    1681px 1877px #FDD000, 1344px 1824px #FDD000, 1439px 1632px #FDD000,
    161px 1012px #FDD000, 1308px 588px #FDD000, 1789px 582px #FDD000, 721px 1910px #FDD000,
    318px 218px #FDD000, 607px 319px #FDD000, 495px 535px #FDD000, 1552px 1575px #FDD000,
    1562px 67px #FDD000, 403px 926px #FDD000, 1096px 1800px #FDD000, 1814px 1709px #FDD000,
    1882px 1831px #FDD000, 533px 46px #FDD000, 823px 969px #FDD000, 530px 165px #FDD000,
    1030px 352px #FDD000, 1681px 313px #FDD000, 338px 115px #FDD000, 1607px 211px #FDD000,
    1718px 1184px #FDD000, 1589px 659px #FDD000, 278px 355px #FDD000, 464px 1464px #FDD000,
    1165px 277px #FDD000, 950px 694px #FDD000, 1746px 293px #FDD000, 793px 911px #FDD000,
    528px 773px #FDD000, 1883px 1694px #FDD000, 748px 182px #FDD000, 1924px 1531px #FDD000,
    100px 636px #FDD000, 1473px 1445px #FDD000, 1264px 1244px #FDD000, 850px 1377px #FDD000,
    987px 1976px #FDD000, 933px 1761px #FDD000, 922px 1270px #FDD000, 500px 396px #FDD000,
    1324px 8px #FDD000, 1967px 1814px #FDD000, 1072px 1401px #FDD000, 961px 37px #FDD000,
    156px 81px #FDD000, 1915px 502px #FDD000, 1076px 1846px #FDD000, 152px 1669px #FDD000,
    986px 1529px #FDD000, 1667px 1137px #FDD000;
}

#stars2:after {
    content: '';
    position: absolute;
    top: auto;
    width: 2px;
    height: 2px;
    background: transparent;

    box-shadow: 1448px 320px #FDD000, 1775px 1663px #FDD000, 332px 1364px #FDD000,
    878px 340px #FDD000, 569px 1832px #FDD000, 1422px 1684px #FDD000, 1946px 1907px #FDD000,
    121px 979px #FDD000, 1044px 1069px #FDD000, 463px 381px #FDD000, 423px 112px #FDD000,
    523px 1179px #FDD000, 779px 654px #FDD000, 1398px 694px #FDD000, 1085px 1464px #FDD000,
    1599px 1869px #FDD000, 801px 1882px #FDD000, 779px 1231px #FDD000, 552px 932px #FDD000,
    1057px 1196px #FDD000, 282px 1280px #FDD000, 496px 1986px #FDD000, 1833px 1120px #FDD000,
    1802px 1293px #FDD000, 6px 1696px #FDD000, 412px 1902px #FDD000, 605px 438px #FDD000,
    24px 1212px #FDD000, 234px 1320px #FDD000, 544px 344px #FDD000, 1107px 170px #FDD000,
    1603px 196px #FDD000, 905px 648px #FDD000, 68px 1458px #FDD000, 649px 1969px #FDD000,
    744px 675px #FDD000, 1127px 478px #FDD000, 714px 1814px #FDD000, 1486px 526px #FDD000,
    270px 1636px #FDD000, 1931px 149px #FDD000, 1807px 378px #FDD000, 8px 390px #FDD000,
    1415px 699px #FDD000, 1473px 1211px #FDD000, 1590px 141px #FDD000, 270px 1705px #FDD000,
    69px 1423px #FDD000, 1108px 1053px #FDD000, 1946px 128px #FDD000, 371px 371px #FDD000,
    1490px 220px #FDD000, 357px 1885px #FDD000, 363px 363px #FDD000, 1896px 1256px #FDD000,
    1979px 1050px #FDD000, 947px 1342px #FDD000, 1754px 242px #FDD000, 514px 974px #FDD000,
    65px 1477px #FDD000, 1840px 547px #FDD000, 950px 695px #FDD000, 459px 1150px #FDD000,
    1124px 1502px #FDD000, 481px 940px #FDD000, 680px 839px #FDD000, 797px 1169px #FDD000,
    1977px 1491px #FDD000, 734px 1724px #FDD000, 210px 298px #FDD000, 816px 628px #FDD000,
    686px 770px #FDD000, 1721px 267px #FDD000, 1663px 511px #FDD000, 1481px 1141px #FDD000,
    582px 248px #FDD000, 1308px 953px #FDD000, 628px 657px #FDD000, 897px 1535px #FDD000,
    270px 931px #FDD000, 791px 467px #FDD000, 1336px 1732px #FDD000, 1013px 1653px #FDD000,
    1911px 956px #FDD000, 587px 816px #FDD000, 83px 456px #FDD000, 930px 1478px #FDD000,
    1587px 1694px #FDD000, 614px 1200px #FDD000, 302px 1782px #FDD000, 1711px 1432px #FDD000,
    443px 904px #FDD000, 1666px 714px #FDD000, 1588px 1167px #FDD000, 273px 1075px #FDD000,
    1679px 461px #FDD000, 721px 664px #FDD000, 1202px 10px #FDD000, 166px 1126px #FDD000,
    331px 1628px #FDD000, 430px 1565px #FDD000, 1585px 509px #FDD000, 640px 38px #FDD000,
    822px 837px #FDD000, 1760px 1664px #FDD000, 1122px 1458px #FDD000, 398px 131px #FDD000,
    689px 285px #FDD000, 460px 652px #FDD000, 1627px 365px #FDD000, 348px 1648px #FDD000,
    819px 1946px #FDD000, 981px 1917px #FDD000, 323px 76px #FDD000, 979px 684px #FDD000,
    887px 536px #FDD000, 1348px 1596px #FDD000, 1055px 666px #FDD000, 1402px 1797px #FDD000,
    1300px 1055px #FDD000, 937px 238px #FDD000, 1474px 1815px #FDD000, 1144px 1710px #FDD000,
    1629px 1087px #FDD000, 911px 919px #FDD000, 771px 819px #FDD000, 403px 720px #FDD000,
    163px 736px #FDD000, 1062px 238px #FDD000, 1774px 818px #FDD000, 1874px 1178px #FDD000,
    1177px 699px #FDD000, 1244px 1244px #FDD000, 1371px 58px #FDD000, 564px 1515px #FDD000,
    1824px 487px #FDD000, 929px 702px #FDD000, 394px 1348px #FDD000, 1161px 641px #FDD000,
    219px 1841px #FDD000, 358px 941px #FDD000, 140px 1759px #FDD000, 1019px 1345px #FDD000,
    274px 436px #FDD000, 1433px 1605px #FDD000, 1798px 1426px #FDD000, 294px 1848px #FDD000,
    1681px 1877px #FDD000, 1344px 1824px #FDD000, 1439px 1632px #FDD000,
    161px 1012px #FDD000, 1308px 588px #FDD000, 1789px 582px #FDD000, 721px 1910px #FDD000,
    318px 218px #FDD000, 607px 319px #FDD000, 495px 535px #FDD000, 1552px 1575px #FDD000,
    1562px 67px #FDD000, 403px 926px #FDD000, 1096px 1800px #FDD000, 1814px 1709px #FDD000,
    1882px 1831px #FDD000, 533px 46px #FDD000, 823px 969px #FDD000, 530px 165px #FDD000,
    1030px 352px #FDD000, 1681px 313px #FDD000, 338px 115px #FDD000, 1607px 211px #FDD000,
    1718px 1184px #FDD000, 1589px 659px #FDD000, 278px 355px #FDD000, 464px 1464px #FDD000,
    1165px 277px #FDD000, 950px 694px #FDD000, 1746px 293px #FDD000, 793px 911px #FDD000,
    528px 773px #FDD000, 1883px 1694px #FDD000, 748px 182px #FDD000, 1924px 1531px #FDD000,
    100px 636px #FDD000, 1473px 1445px #FDD000, 1264px 1244px #FDD000, 850px 1377px #FDD000,
    987px 1976px #FDD000, 933px 1761px #FDD000, 922px 1270px #FDD000, 500px 396px #FDD000,
    1324px 8px #FDD000, 1967px 1814px #FDD000, 1072px 1401px #FDD000, 961px 37px #FDD000,
    156px 81px #FDD000, 1915px 502px #FDD000, 1076px 1846px #FDD000, 152px 1669px #FDD000,
    986px 1529px #FDD000, 1667px 1137px #FDD000;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    animation: animStar 240s linear infinite;

    box-shadow: 387px 1878px #FDD000, 760px 1564px #FDD000, 1487px 999px #FDD000,
    948px 1828px #FDD000, 1977px 1001px #FDD000, 1284px 1963px #FDD000, 656px 284px #FDD000,
    1268px 1635px #FDD000, 1820px 598px #FDD000, 642px 1900px #FDD000, 296px 57px #FDD000,
    921px 1620px #FDD000, 476px 1858px #FDD000, 658px 613px #FDD000, 1171px 1363px #FDD000,
    1419px 283px #FDD000, 1037px 731px #FDD000, 503px 663px #FDD000, 1562px 463px #FDD000,
    383px 1197px #FDD000, 1171px 1233px #FDD000, 876px 1768px #FDD000, 856px 1615px #FDD000,
    1375px 1924px #FDD000, 1725px 918px #FDD000, 952px 119px #FDD000, 768px 1212px #FDD000,
    992px 1462px #FDD000, 1929px 717px #FDD000, 1947px 755px #FDD000, 1818px 1123px #FDD000,
    1896px 1672px #FDD000, 460px 198px #FDD000, 256px 271px #FDD000, 752px 544px #FDD000,
    1222px 1859px #FDD000, 1851px 443px #FDD000, 313px 1858px #FDD000, 709px 446px #FDD000,
    1546px 697px #FDD000, 674px 1155px #FDD000, 1112px 130px #FDD000, 355px 1790px #FDD000,
    1496px 974px #FDD000, 1696px 480px #FDD000, 1316px 1265px #FDD000, 1645px 1063px #FDD000,
    1182px 237px #FDD000, 427px 1582px #FDD000, 859px 253px #FDD000, 458px 939px #FDD000,
    1517px 1644px #FDD000, 1943px 60px #FDD000, 212px 1650px #FDD000, 966px 1786px #FDD000,
    473px 712px #FDD000, 130px 76px #FDD000, 1417px 1186px #FDD000, 909px 1580px #FDD000,
    1913px 762px #FDD000, 204px 1143px #FDD000, 1998px 1057px #FDD000, 1468px 1301px #FDD000,
    144px 1676px #FDD000, 21px 1601px #FDD000, 382px 1362px #FDD000, 912px 753px #FDD000,
    1488px 1405px #FDD000, 802px 156px #FDD000, 174px 550px #FDD000, 338px 1366px #FDD000,
    1197px 774px #FDD000, 602px 486px #FDD000, 682px 1877px #FDD000, 348px 1503px #FDD000,
    407px 1139px #FDD000, 950px 1400px #FDD000, 922px 1139px #FDD000, 1697px 293px #FDD000,
    1238px 1281px #FDD000, 1038px 1197px #FDD000, 376px 1889px #FDD000,
    1255px 1680px #FDD000, 1008px 1316px #FDD000, 1538px 1447px #FDD000,
    1186px 874px #FDD000, 1967px 640px #FDD000, 1341px 19px #FDD000, 29px 1732px #FDD000,
    16px 1650px #FDD000, 1021px 1075px #FDD000, 723px 424px #FDD000, 1175px 41px #FDD000,
    494px 1957px #FDD000, 1296px 431px #FDD000, 175px 1507px #FDD000, 831px 121px #FDD000,
    498px 1947px #FDD000, 617px 880px #FDD000, 240px 403px #FDD000;
}

#stars3:after {
    content: '';
    position: absolute;
    top: auto;
    width: 3px;
    height: 3px;
    background: transparent;

    box-shadow: 387px 1878px #FDD000, 760px 1564px #FDD000, 1487px 999px #FDD000,
    948px 1828px #FDD000, 1977px 1001px #FDD000, 1284px 1963px #FDD000, 656px 284px #FDD000,
    1268px 1635px #FDD000, 1820px 598px #FDD000, 642px 1900px #FDD000, 296px 57px #FDD000,
    921px 1620px #FDD000, 476px 1858px #FDD000, 658px 613px #FDD000, 1171px 1363px #FDD000,
    1419px 283px #FDD000, 1037px 731px #FDD000, 503px 663px #FDD000, 1562px 463px #FDD000,
    383px 1197px #FDD000, 1171px 1233px #FDD000, 876px 1768px #FDD000, 856px 1615px #FDD000,
    1375px 1924px #FDD000, 1725px 918px #FDD000, 952px 119px #FDD000, 768px 1212px #FDD000,
    992px 1462px #FDD000, 1929px 717px #FDD000, 1947px 755px #FDD000, 1818px 1123px #FDD000,
    1896px 1672px #FDD000, 460px 198px #FDD000, 256px 271px #FDD000, 752px 544px #FDD000,
    1222px 1859px #FDD000, 1851px 443px #FDD000, 313px 1858px #FDD000, 709px 446px #FDD000,
    1546px 697px #FDD000, 674px 1155px #FDD000, 1112px 130px #FDD000, 355px 1790px #FDD000,
    1496px 974px #FDD000, 1696px 480px #FDD000, 1316px 1265px #FDD000, 1645px 1063px #FDD000,
    1182px 237px #FDD000, 427px 1582px #FDD000, 859px 253px #FDD000, 458px 939px #FDD000,
    1517px 1644px #FDD000, 1943px 60px #FDD000, 212px 1650px #FDD000, 966px 1786px #FDD000,
    473px 712px #FDD000, 130px 76px #FDD000, 1417px 1186px #FDD000, 909px 1580px #FDD000,
    1913px 762px #FDD000, 204px 1143px #FDD000, 1998px 1057px #FDD000, 1468px 1301px #FDD000,
    144px 1676px #FDD000, 21px 1601px #FDD000, 382px 1362px #FDD000, 912px 753px #FDD000,
    1488px 1405px #FDD000, 802px 156px #FDD000, 174px 550px #FDD000, 338px 1366px #FDD000,
    1197px 774px #FDD000, 602px 486px #FDD000, 682px 1877px #FDD000, 348px 1503px #FDD000,
    407px 1139px #FDD000, 950px 1400px #FDD000, 922px 1139px #FDD000, 1697px 293px #FDD000,
    1238px 1281px #FDD000, 1038px 1197px #FDD000, 376px 1889px #FDD000,
    1255px 1680px #FDD000, 1008px 1316px #FDD000, 1538px 1447px #FDD000,
    1186px 874px #FDD000, 1967px 640px #FDD000, 1341px 19px #FDD000, 29px 1732px #FDD000,
    16px 1650px #FDD000, 1021px 1075px #FDD000, 723px 424px #FDD000, 1175px 41px #FDD000,
    494px 1957px #FDD000, 1296px 431px #FDD000, 175px 1507px #FDD000, 831px 121px #FDD000,
    498px 1947px #FDD000, 617px 880px #FDD000, 240px 403px #FDD000;
}

